<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.zhuangguang.module_user">

    <application>
        <activity
            android:name=".ui.account.LoginActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".ui.account.RegisterActivity" />
        <activity android:name=".ui.about.AboutActivity" />
    </application>
</manifest>
